# User Testing Report

User testing was conducted by Mansura Chowdhury on 22/10/13 between the times of 8 am and 8:44 am with the following participants:

- Earaj Inam
- Lisa Beaton
- Jesus Monsalve

## Tasks

1. Enter my website and learn about Tigers in the Wild
2. Go to the About Tigers page
3. Experience the mobile aspect of the site.

---

## Individual Results & Observations

### Earaj Inam

- Able to fulfill the tasks easily
- Suggested to make the left nav opacity lower
- Had a hard time find the about tigers page (I didn't specify to go to the about tigers page)

### Lisa Beaton

- Able to fufill the tasks easily
- Was confused about the main nav and the side nav
- Had to offer help to find the about tigers page

### Jesus Monsalve

- Able to fufill the tasks easily
- Was confused about the main nav and the side nav
- Had to help find the about tigers page
- Suggested to highlight which page you were on for the mobile

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Need to make the main nav more obvious
- Make the side nav less prominent

### Minor, Annoying, Won’t Hinder Completion

- Fix side nav to be less prominent
- Make h2 font size larger for the mobile screen