@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  background-color: #FFF;
  color: #2b2b2b;
  font: normal 100%/1.4 Georgia,serif;
}

body {
  margin: 0;
  padding: 0;
}

.flex-img {
  width: 100%;
  display: block;
}

/* 240 px */
.homebg {
  background-color: #200d07;
}

.coverphoto {
  padding: 0em;
  margin-top: 60%;
}

.s-img {
  display: block;
}

.l-img {
  display: none;
}

h1 {
  color: #FFF;
  letter-spacing: 0.01em;
  text-align: center;
  font-size: 2em;
}

h2 {
  font-size: 1em;
  line-height: 0.2em;
}

.covertext {
  background-color: #200d07;
  display: block;
  margin: 0;
  padding: 1em;
  width: 100%;
}
/* END CSS - HOME PAGE */

.img-l-1 {
  display: none;
}

.sidebar {
  display: none;
}

#wt {
  background-color: #2b2b2b;
  color: #FFF;
  padding: 1em;
}

#titw {
  background-color: #eee;
  color: #2b2b2b;
  padding: 1em;
}

#is,
#fat {
  background-color: #2b2b2b;
  color: #FFF;
  padding: 1em;
}

dt {
  width: 80%;
}
/* END 240 px*/
