@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  background-color: #FFF;
  color: #2b2b2b;
  font: normal 100%/1.4 Georgia,serif;
}

body {
  margin: 0;
  padding: 0;
}

.flex-img {
  width: 100%;
  display: block;
}

/* 240 px */

/* CSS STYLE FOR HOME PAGE */
.homebg {
  background-color: #200d07;
}

.coverphoto {
  padding: 0em;
  margin-top: 60%;
}

.s-img {
  display: block;
}

.l-img {
  display: none;
}

h1 {
  color: #FFF;
  letter-spacing: 0.01em;
  text-align: center;
  font-size: 2em;
}

.covertext {
  background-color: #200d07;
  display: block;
  margin: 0;
  padding: 1em;
  width: 100%;
}

.home-nav {
  display: block;
  background-color: #FFF;
  margin: 0;
  width: 100%;
  padding: 0;
}

.home-nav-link {
  font-size: 1.2em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  list-style-type: none;
  margin: 0 auto;
  padding: 0.5em;
  text-align: center;
}

/* END CSS - HOME PAGE */

.img-l-1 {
  display: none;
}

.sidebar {
  display: none;
}

.nav {
  list-style-type: none;
}

.nav li {
  display: block;
  padding: 0.5em;
  text-transform: uppercase;
}

.nav-secondary li {
  padding: 0.5em;
  font-size: 0.7em;
}

a {
  border-bottom: 0.1em solid #ccc;
  -o-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
  color: #222;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  border-color: #000;
  color: #000;
}

h2 {
  font-size: 1em;
  line-height: 0.2em;
}

#wt {
  background-color: #2b2b2b;
  color: #FFF;
  padding: 1em;
}

#titw {
  background-color: #eee;
  color: #2b2b2b;
  padding: 1em;
}

#is,
#fat {
  background-color: #2b2b2b;
  color: #FFF;
  padding: 1em;
}

dt {
  width: 80%;
}

/* END 240 px*/


/* 400 PX*/

@media only screen and (min-width: 25em) {
  .coverphoto {
    padding: 0em;
    margin-top: 40%;
  }

  .nav li {
    display: block;
    color: #FFF;
    font-size: 1.5em;
  }

  .nav-secondary li {
    display: inline-block;
    font-size: 0.7em;
  }

  dl {
    overflow: hidden;
    margin-bottom: -3%;
  }

  dt {
    width: 40%;
    float: left;
  }

  dd {
    width: 40%;
    float: right;
  }

}

/* END 400*/

/* 600 PX*/

@media only screen and (min-width: 38em) {
  .coverphoto {
    padding: 0em;
    margin-top: 40%;
    margin-bottom: -20%;
  }

  .s-img {
    display: none;
  }

  .l-img {
    display: block;
    width: 200%;
  }

  .covertext {
    background-color: #200d07;
    display: block;
    margin: 0;
    padding: 1em;
    width: 100%;
  }

  .nav li {
    display: inline-block;
    color: #FFF;
    font-size: 1em;
    padding: 0.9em;
  }

  .nav-secondary li {
    display: inline-block;
    font-size: 1em;
    padding: 0.9;
  }

  #wt {
    padding: 1.5em;
  }

  #titw {
    padding: 1.5em;
  }

  #is,
  #fat {
    padding: 1.5em;
  }

  dl {
    overflow: hidden;
    margin-bottom: -3%;
    padding-bottom: 4.9em;
  }

  dt {
    width: 40%;
    float: left;
  }

  dd {
    width: 32%;
    float: right;
  }

  .unit-s-1 {
    display: none;
  }

  .grid {
    overflow: hidden;
  }

}

/* END 600*/

/* 700 PX*/
@media only screen and (min-width: 43.75em) {
  .nav-wrapper {
    float: right;
  }

  .nav-secondary {
    float: right;
    width: 80%;
  }

  .nav-secondary li {
    padding: 0;
    padding-right: 1em;
    margin: 0;
  }

  .banner {
    overflow: hidden;
  }

  dl {
    padding-bottom: 3.6em;
  }

  .copyright {
    float: left;
    width: 20%;
  }
}
/*END 700*/

/* 850 px*/
@media only screen and (min-width: 53.125em) {
  .coverphoto {
    margin-top: 23%;
    margin-bottom: -13%;
  }

  .covertext {
    padding: 3em;
  }

  .img-s-1 {
    display: none;
  }

  .img-l-1 {
    display: block;
  }

  dl {
    padding-bottom: 5.1em;
  }

  .nav-secondary {
    width: 60%;
  }
}
/* END 850*/

/* 930 PX*/
@media only screen and (min-width: 58.12em) {
  .coverphoto {
    margin-top: 23%;
    margin-bottom: -11.5%;
  }

  dl {
    padding-bottom: 2.4em;
  }

  dd {
    width: 50%;
  }

  .nav-secondary {
    width: 55%;
  }
}
/* END 930*/

/* 1050 PX*/
@media only screen and (min-width: 65.62em) {
  .l-img {
    width: 100%;
  }

  .coverphoto {
    margin-top: 23%;
    margin-bottom: -11.5%;
  }

  .covertext {
    position: fixed;
    display: block;
    margin-top: -30%;
    padding: 0;
  }

  .home-nav {
    display: block;
    position: fixed;
    margin-left: 43%;
    margin-top: -5%;
    width: 10%;
    padding: 0;
  }

  .sidebar {
    display: block;
    background-color: #000;
    position: fixed;
    width: 16.5%;
    padding: 1em;
    margin-top: 5%;
  }

  .sidebarnav li {
    list-style-type: none;
    padding-bottom: 0.5em;
  }

  .sidebarnav a {
    text-decoration: none;
    color: #FFF;
  }

  .sidebarnav a:hover,
  .sidebarnav a:focus,
  .sidebarnav a:active {
    color: red;
  }

  #wt {
    padding: 5em;
  }

  #titw {
    padding: 5em;
  }

  #is,
  #fat {
    padding: 5em;
  }

  dl {
    padding-bottom: 5.1em;
  }

  dd {
    width: 45%;
  }

  .nav-secondary {
    width: 48%;
  }
}
/* END 1050*/

/* 1150 PX*/
@media only screen and (min-width: 71.87em) {
  #wt {
    padding: 8em;
  }

  #titw {
    padding: 8em;
  }

  #is,
  #fat {
    padding: 8em;
  }

  dl {
    padding-bottom: 5em;
  }

  dt {
    width: 48%;
  }

  dd {
    width: 39%;
  }

  .nav-secondary {
    width: 48%;
  }
}

/* END 1150 */

/* 1440 (17" MACBOOK) */
@media only screen and (min-width: 89.37em) {
  .coverphoto {
    margin-top: 10%;
    margin-bottom: -11.5%;
  }

  h1 {
    font-size: 2em;
    padding: 0.5em;
  }

  .covertext {
    margin-top: -23%;
    background-color: rgba(32, 13, 7, 0.8);
  }

  .home-nav {
    margin-left: %;
    margin-top: -12%;
  }

  dl {
    margin-bottom: -11.5%;
  }

  .nav-secondary {
    width: 36%;
  }
}
/* END 1440 */

/* FULL SCREEN IMAC */
@media only screen and (min-width: 120em) {
  /* CSS STYLE FOR HOME PAGE */
  .homebg {
    background-color: #200d07;
  }

  .coverphoto {
    margin-top: -30%;
  }

  .covertext {
    margin: 0%;
    background-color: rgba(32, 13, 7, 0.8);
  }

  .home-nav {
    margin: 0%;
    margin-left: 46.5%;
  }

/* END CSS - HOME PAGE */

  .nav-wrapper {
    float: right;
  }

  .nav {
    list-style-type: none;
  }

  .nav li {
    display: inline-block;
    padding: 1em;
    text-transform: uppercase;
  }

  .nav-secondary {
    width: 25%;
    float: right;
  }

  .nav-secondary li {
    padding: 0;
    padding-left: 1.5em;
  }

  .sidebar {
    background-color: #000;
    position: fixed;
    width: 9%;
    display: block;
    padding: 1em;
    margin-top: 5%;
  }

  .sidebarnav li {
    list-style-type: none;
    padding-bottom: 0.5em;
  }

  .sidebarnav a {
    text-decoration: none;
    color: #FFF;
  }

  .sidebarnav a:hover,
  .sidebarnav a:focus,
  .sidebarnav a:active {
    color: red;
  }

  a {
    border-bottom: 0.1em solid #ccc;
    -o-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -webkit-transition: all 100ms linear;
    transition: all 100ms linear;
    color: #222;
    text-decoration: none;
  }

  a:hover,
  a:focus,
  a:active {
    border-color: #000;
    color: #000;
  }

  h2 {
    font-size: 1.5em;
    line-height: 0.2em;
  }

  #wt {
    background-color: #2b2b2b;
    color: #FFF;
    padding: 12em;
  }

  #titw {
    background-color: #eee;
    color: #2b2b2b;
    padding: 12em;
  }

  #is,
  #fat {
    background-color: #2b2b2b;
    color: #FFF;
    padding: 12em;
  }

  dl {
    padding-bottom: 10.2em;
  }

  dt {
    float: left;
    width: 30%;
  }

  dd {
    float: right;
    width: 63%;
  }

  .copyright {
    width: 10%;
    float: left;
  }

  .footer {
    padding: 0.5em 8px 0;
    font-size: 0.875em;
  }

}
/* END FULL SCREEN IMAC */
