@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  background-color: #FFF;
  color: #2b2b2b;
  font: normal 100%/1.4 Georgia,serif;
}

body {
  margin: 0;
  padding: 0;
}

.searchbar {
float: left;
}

.flex-img {
  width: 100%;
  display: block;
}

/* CSS STYLE FOR HOME PAGE */
.homebg {
  background-color: #200d07;
}

.coverphoto {
  padding-top: 9.5em;
}

h1 {
  color: #FFF;
  letter-spacing: 0.01em;
  text-align: center;
}

.covertext {
  background-color: #000;
  position: fixed;
  display: block;
  margin: 19.2%;
  margin-left: 33.85%;
  padding: 0;
  width: 30%;
}

.home-nav {
  display: block;
  position: fixed;
  background-color: #FFF;
  margin: 28%;
  margin-left: 46.5%;
  width: 5%;
  padding: 0;
}

.home-nav-link {
  font-size: 1.2em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  list-style-type: none;
  margin: 0 auto;
  padding: 0.5em;
}

/* END CSS - HOME PAGE */

.grid {
  overflow: hidden;
}

.sidebar {
  background-color: #2b2b2b;
  position: fixed;
  width: 9%;
  display: block;
  padding: 1em;
}

.sidebarnav li {
  list-style-type: none;
  padding-bottom: 0.5em;
}

.sidebarnav a {
  text-decoration: none;
  color: #FFF;
}

.sidebarnav a:hover,
.sidebarnav a:focus,
.sidebarnav a:active {
  color: red;
}

h2 {
  font-size: 1.5em;
  line-height: 0.2em;
}

#wt {
  background-color: #2b2b2b;
  color: #FFF;
  padding: 10em;
}

#titw {
  background-color: #eee;
  color: #2b2b2b;
  padding: 10em;
}

#is,
#fat {
  background-color: #2b2b2b;
  color: #FFF;
  padding: 10em;
}

.nav-secondary {
  float: right;
}

.nav-secondary li {
  margin-left: 0.5em;
  margin-right: 0;
}

.nav-secondary li:before {
  content: "·";
  left: -0.5em;
  position: absolute;
}

.nav-secondary li:first-child:before {
  display: none;
}

}

.footer {
  margin-top: 1em;
  padding: 0.5em 8px 0;
  border-top: 2px solid #ddd;
  font-size: 0.875em;
}
