---
layout: default
title: Species
---

<div class="sidebar">
  <nav class="sidebarnav">
    <ul>
      <li><a href="#tot">Type of Tigers</a></li>
      <li><a href="#es">Extinct Species</a></li>
      <li><a href="#cv">Color Variations</a></li>
      <li><a href="#hyb">Hybrids</a></li>
    </ul>
  </nav>
</div>

<div class="grid">
  <div class="unit unit-s-1 unit-m-1 unit-l-1">
    <img src="{{site.baseurl}}/img/white-tiger.jpg" class="flex-img img-l-1" alt="">
    <img src="{{site.baseurl}}/img/white-tiger-800.jpg" class="flex-img img-s-1" alt="">
    <div class="unit-spacer" id="tot">
      <h2>Types of Tigers</h2>
      <p>There are six subspecies of tigers:</p>
  <div class="unit unit-s-1 unit-m-1 unit-l-1-3-1 right-padding">
      {% include tiger-details.html tigertype='bengal' %}
  </div>

  <div class="unit unit-s-1 unit-m-1 unit-l-1-3-1 right-padding">
      {% include tiger-details.html tigertype='siberian' %}
  </div>

  <div class="unit unit-s-1 unit-m-1 unit-l-1-3-1">
      {% include tiger-details.html tigertype='sumatran' %}
  </div>

  <div class="unit unit-s-1 unit-m-1 unit-l-1-3-1 right-padding">
      {% include tiger-details.html tigertype='malayan' %}
  </div>

  <div class="unit unit-s-1 unit-m-1 unit-l-1-3-1 right-padding">
      {% include tiger-details.html tigertype='indochinese' %}
  </div>

  <div class="unit unit-s-1 unit-m-1 unit-l-1-3-1">
      {% include tiger-details.html tigertype='south' %}
  </div>
    </div>
  </div>

  <div class="unit unit-s-1 unit-m-1 unit-l-1">
    <div class="unit-spacer" id="es">
      <h2>Extinct Subspecies</h2>
      <p>The <strong>Bali tiger</strong> (P. t. balica) was limited to the Indonesian island of Bali, and was the smallest subspecies, with a weight of 90–100 kg (200–220 lb) in males and 65–80 kg (143–180 lb) in females. Bali tigers were hunted to extinction—the last Bali tiger, an adult female, is thought to have been killed at Sumbar Kima, West Bali, on 27 September 1937. There is no Bali tiger in captivity. The tiger still plays an important role in Balinese Hinduism.</p>

      <p>The <strong>Caspian tiger</strong> (P. t. virgata), also known as the Hyrcanian tiger or Turan tiger was found in the sparse forest habitats and riverine corridors west and south of the Caspian Sea and west through Central Asia into the Takla-Makan desert of Xinjiang, and had been recorded in the wild until the early 1970s. The Amur tiger is the genetically closest living relative of the Caspian tiger.</p>

      <p>The <strong>Javan tiger</strong> (P. t. sondaica) was limited to the island of Java, and had been recorded until the mid-1970s. Javan tigers were larger than Bali tigers; males weighed 100–140 kg (220–310 lb) and females 75–115 kg (165–254 lb). After 1979, no more sightings were confirmed in the region of Mount Betiri. An expedition to Mount Halimun Salak National Park in 1990 did not yield any definite, direct evidence for the continued existence of tigers.</p>
    </div>
  </div>
</div>

<div class="grid">
  <div class="unit unit-s-1 unit-m-1-2 unit-l-2-3">
    <div class="unit-spacer" id="cv">
      <h2>Color Variations</h2>

    <div class="unit unit-s-1 unit-m-1-2 unit-l-4-9 right-padding">
      <strong>White Tigers</strong>
      <img src="{{site.baseurl}}/img/white-tigers.jpg" alt="A pair of White Tigers" class="tiger-img">

      <p>A well-known allele produces the white tiger, an animal which is rare in the wild but widely bred in zoos due to its popularity. Breeding of white tigers will often lead to inbreeding (as the trait is recessive). Many initiatives have taken place in white and orange tiger mating in an attempt to remedy the issue, often mixing subspecies in the process. Such inbreeding has led to white tigers having a greater likelihood of being born with physical defects, such as cleft palates and scoliosis (curvature of the spine). They are alos prone to having crossed eyes (strabismus). And they unfortunately do not live as long as their orange counterparts. Records of white tigers were first made in the early 19th century. They are distinct not only because of their white hue, but they also have blue eyes.</p>
    </div>

    <div class="unit unit-s-1 unit-m-1-2 unit-l-4-9">
      <strong>Golden Tigers</strong>
      <img src="{{site.baseurl}}/img/golden-tiger.jpg" alt="A rare Golden Tiger in the Buffalo Zoo" class="tiger-img">

      <p>In addition, another recessive gene may create a very unusual "golden" or "golden tabby" colour variation, sometimes known as "strawberry". Golden tigers have light-gold fur, pale legs, and faint orange stripes. Their fur tends to be much thicker than normal. Extremely few golden tigers are kept in captivity, around 30 in all. Like white tigers, golden tigers are invariably at least part Bengal. Some golden tigers carry the white tiger gene, and when two such tigers are mated, they can produce some stripeless white offspring. Both white and golden tigers tend to be larger than average Bengal tigers.</p>
    </div>

    </div>
  </div>

  <div class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
    <div class="unit-spacer" id="hyb">
      <h2>Hybrids</h2>
      <p>Hybridisation among the big cats, including the tiger, was first conceptualised in the 19th century, when zoos were particularly interested in the pursuit of finding oddities to display for financial gain. Lions have been known to breed with tigers (most often the Amur and Bengal subspecies) to create hybrids called ligers and tigons. Such hybrids were once commonly bred in zoos, but this is now discouraged due to the emphasis on conserving species and subspecies. Hybrids are still bred in private menageries and in zoos in China.</p>

      <p>The liger is a cross between a male lion and a tigress. Because the lion sire passes on a growth-promoting gene, but the corresponding growth-inhibiting gene from the female tiger is absent, ligers grow far larger than either parent. They share physical and behavioural qualities of both parent species (spots and stripes on a sandy background). Male ligers are sterile, but female ligers are often fertile. Males have about a 50% chance of having a mane, but, even if they do, their manes will be only around half the size of that of a pure lion. Ligers are typically between 10 and 12 feet in length, and can weigh between 800 and 1,000 pounds or more.</p>

      <p>The less common tigon is a cross between the lioness and the male tiger.</p>
    </div>
  </div>
</div>
