@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  background-color: #FFF;
  color: #2b2b2b;
  font: normal 100%/1.4 Georgia,serif;
}

body {
  margin: 0;
  padding: 0;
}

.flex-img {
  width: 100%;
  display: block;
}

.tiger-img {
  width: 100%;
  display: block;
}

.list-group {
  padding: 0;

  list-style-type: none;
}

.list-group-item {
  display: block;
}

.list-group-item-inline {
  display: inline-block;
}

.right-padding {
  padding-right: 1em;
}

ul {
  margin: 0 0 0;
}

/* 240 px */

.s-img {
  display: block;
}

.l-img {
  display: none;
}

h1 {
  color: #FFF;
  letter-spacing: 0.01em;
  text-align: center;
  font-size: 1em;
}
/* END CSS - HOME PAGE */

h2 {
  font-size: 1em;
  line-height: 0.2em;
}

.img-l-1 {
  display: none;
}

#wt,
#char,
#tot {
  background-color: #1f0d06;
  color: #9e3600;
  padding: 1em;
}

#titw,
#lab,
#es {
  background-color: #592005;
  color: #f9e0bb;
  padding: 1em;
}

#is,
#rep,
#cv {
  background-color: #d7621a;
  color: #1f0d06;
  padding: 1em;
}

#fat,
#hh,
#hyb {
  background-color: #c9a879;
  color: #592005;
  padding: 1em;
}

dt {
  width: 80%;
}

.copyright {
  text-align: center;
}

/* END 240 px*/

/* 400 PX*/
@media only screen and (min-width: 25em) {
  dl {
    overflow: hidden;
    margin-bottom: -3%;
  }

  dt {
    width: 40%;
    float: left;
  }

  dd {
    width: 40%;
    float: right;
  }
}
/* END 400*/

/* 570 PX */
@media only screen and (min-width: 35.62em) {

}

/* END 570 */

/* 600 PX*/
@media only screen and (min-width: 38em) {
  .s-img {
    display: none;
  }

  .l-img {
    display: block;
  }

  #wt,
  #char,
  #tot {
    padding: 1.5em;
  }

  #titw,
  #lab,
  #es {
    padding: 1.5em;
  }

  #is,
  #fat,
  #rep,
  #hh,
  #cv,
  #hyb {
    padding: 1.5em;
  }

  dl {
    overflow: hidden;
    margin-bottom: -3%;
    padding-bottom: 4.9em;
  }

  dt {
    width: 40%;
    float: left;
  }

  dd {
    width: 32%;
    float: right;
  }

  .unit-s-1 {
    display: none;
  }

  .grid {
    overflow: hidden;
  }

}
/* END 600*/

/* 700 PX*/
@media only screen and (min-width: 43.75em) {
  .banner {
    overflow: hidden;
    background-image: url(...img/tiger-fur.jpg);
  }

  dl {
    padding-bottom: 3.6em;
  }

  .copyright {
    float: left;
    width: 20%;
  }
}
/*END 700*/

/* 850 px*/
@media only screen and (min-width: 53.125em) {
  .img-s-1 {
    display: none;
  }

  .img-l-1 {
    display: block;
  }

  dl {
    padding-bottom: 5.1em;
  }
}
/* END 850*/

/* 930 PX*/
@media only screen and (min-width: 58.12em) {
  dl {
    padding-bottom: 2.4em;
  }

  dd {
    width: 50%;
  }
}
/* END 930*/

/* 1050 PX*/
@media only screen and (min-width: 65.62em) {
  #wt,
  #char,
  #tot {
    padding: 5em;
  }

  #titw,
  #lab,
  #es {
    padding: 5em;
  }

  #is,
  #fat,
  #rep,
  #hh,
  #cv,
  #hyb {
    padding: 5em;
  }

  dl {
    padding-bottom: 5.1em;
  }

  dd {
    width: 45%;
  }
}
/* END 1050*/

/* 1150 PX*/
@media only screen and (min-width: 71.87em) {
  #wt,
  #char,
  #tot {
    padding: 8em;
  }

  #titw,
  #lab,
  #es {
    padding: 8em;
  }

  #is,
  #fat,
  #rep,
  #hh,
  #cv,
  #hyb {
    padding: 8em;
  }

  dl {
    padding-bottom: 5em;
  }

  dt {
    width: 48%;
  }

  dd {
    width: 39%;
  }
}

/* END 1150 */

/* 1440 (17" MACBOOK) */
@media only screen and (min-width: 89.37em) {
  h1 {
    font-size: 2em;
  }

  dl {
    margin-bottom: -11.5%;
  }

  #lab {
    padding: 6.7em;
  }
}
/* END 1440 */

/* FULL SCREEN IMAC */
@media only screen and (min-width: 119em) {
  h2 {
    font-size: 1.5em;
    line-height: 0.2em;
  }

  #wt,
  #char,
  #tot {
    padding: 12em;
  }

  #titw,
  #es {
    padding: 12em;
  }

  #is,
  #fat,
  #hh,
  #rep,
  #cv {
    padding: 12em;
  }

  #fat {
    padding-bottom: 17.8em;
  }

  #char {
    padding-bottom: 21.8em;
  }

  #hh {
    padding-bottom: 23em;
  }

  #hyb {
    padding-bottom: 23.14em;
  }

  dl {
    padding-bottom: 10.2em;
  }

  dt {
    float: left;
    width: 30%;
  }

  dd {
    float: right;
    width: 63%;
  }

  .copyright {
    width: 10%;
    float: left;
  }

  .footer {
    padding: 0.5em 8px 0;
    font-size: 0.875em;
  }

}
/* END FULL SCREEN IMAC */
