@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  background-color: #FFF;
  color: #2b2b2b;
  font: normal 100%/1.4 Georgia,serif;
}

body {
  margin: 0;
  padding: 0;
}

.flex-img {
  width: 100%;
  display: block;
}

.tiger-img {
  width: 100%;
  display: block;
}

.list-group {
  padding: 0;

  list-style-type: none;
}

.list-group-item {
  display: block;
}

.list-group-item-inline {
  display: inline-block;
}

.right-padding {
}

ul {
  margin: 0 0 0;
}

/* 240 px */

.s-img {
  display: block;
}

.l-img {
  display: none;
}

h1 {
  color: #FFF;
  letter-spacing: 0.01em;
  text-align: center;
  font-size: 1em;
}
/* END CSS - HOME PAGE */

h2 {
  font-size: 1em;
  line-height: 0.2em;
}

.img-l-1 {
  display: none;
}

#wt,
#char,
#tot,
#rwh {
  background-color: #1f0d06;
  color: #9e3600;
  padding: 1em;
}

#titw,
#lab,
#es,
#cd {
  background-color: #592005;
  color: #f9e0bb;
  padding: 1em;
}

#is,
#rep,
#cv,
#th {
  background-color: #d7621a;
  color: #1f0d06;
  padding: 1em;
}

#fat,
#hh,
#hyb,
#ce {
  background-color: #c9a879;
  color: #592005;
  padding: 1em;
}

dd {
  margin-left: 0;
  padding-bottom: 0.8em;
}

.tiger-name {
  margin: 0 auto;
}

.copyright {
  text-align: center;
  margin: 0 auto;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 0.5em 0 0.5em 0;
  font-family: sans-serif;
}

/* END 240 px*/

/* 400 PX*/
@media only screen and (min-width: 25em) {
  dl {
    overflow: hidden;
    margin-bottom: -3%;
  }

  dt {
    width: 40%;
    float: left;
  }

  dd {
    width: 40%;
    float: right;
  }
}
/* END 400*/

/* 570 PX */
@media only screen and (min-width: 35.62em) {

}

/* END 570 */

/* 600 PX*/
@media only screen and (min-width: 38em) {
  .s-img {
    display: none;
  }

  .l-img {
    display: block;
  }

  #wt,
  #char,
  #tot,
  #rwh {
    padding: 1.5em;
  }

  #titw,
  #lab,
  #es,
  #cd {
    padding: 1.5em;
  }

  #is,
  #fat,
  #rep,
  #hh,
  #cv,
  #hyb,
  #th,
  #ce {
    padding: 1.5em;
  }

  dl {
    overflow: hidden;
    margin-bottom: -3%;
    padding-bottom: 4.9em;
  }

  dt {
    width: 40%;
    float: left;
  }

  dd {
    width: 32%;
    float: right;
  }

  .unit-s-1 {
    display: none;
  }

  .grid {
    overflow: hidden;
  }

}
/* END 600*/

/* 700 PX*/
@media only screen and (min-width: 43.75em) {
  .banner {
    overflow: hidden;
    background-image: url(...img/tiger-fur.jpg);
  }

  dl {
    padding-bottom: 3.6em;
  }

  .copyright {
  }
}
/*END 700*/

/* 850 px*/
@media only screen and (min-width: 53.125em) {
  .img-s-1 {
    display: none;
  }

  .img-l-1 {
    display: block;
  }

  dl {
    padding-bottom: 5.1em;
  }
}
/* END 850*/

/* 930 PX*/
@media only screen and (min-width: 58.12em) {
  .img-padding {
    padding: 0 1em 0 1em;
  }

  #wt,
  #char,
  #tot,
  #rwh {
    padding: 2em;
  }

  #titw,
  #lab,
  #es,
  #cd {
    padding: 2em;
  }

  #is,
  #fat,
  #rep,
  #hh,
  #cv,
  #hyb,
  #th,
  #ce {
    padding: 2em;
  }

  #fat {
    padding-bottom: 8.42em;
  }

  #hh {
    padding-bottom: 15.71em;
  }

  #cv {
    padding-bottom: 3.53em;
  }

  #th {
    padding-bottom: 6.9em;
  }

  dl {
    padding-bottom: 2.4em;
  }

  dd {
    width: 55%;
  }

  .padding-top {
    padding: 1em 0 1em 0;
  }

  footer {
    padding-top: 1em;
  }
}
/* END 930*/

/* 1050 PX*/
@media only screen and (min-width: 65.62em) {
  .img-padding {
    padding: 0 0.5em 0 0.5em;
  }

  #wt,
  #char,
  #tot,
  #rwh {
    padding: 5em;
  }

  #titw,
  #lab,
  #es,
  #cd {
    padding: 5em;
  }

  #is,
  #fat,
  #rep,
  #hh,
  #cv,
  #hyb,
  #th,
  #ce {
    padding: 5em;
  }

  #fat {
    padding-bottom: 10.1em;
  }

  #hh {
    padding-bottom: 21.5em;
  }

  #cv {
    padding-bottom: 8.3em;
  }

  #ce {
    padding-bottom: 8.4em;
  }

  dl {
    padding-bottom: 5.1em;
  }

  dd {
    width: 55%;
  }

  .padding-top {
    padding: 1em 0 1em 0;
  }

  footer {
    padding-top: 0;
  }

  .copyright {
    text-align: left;
    font-size: 1em;
    padding-left: 1em;
  }
}
/* END 1050*/

/* 1150 PX*/
@media only screen and (min-width: 71.87em) {

  #wt,
  #char,
  #tot,
  #rwh {
    padding: 8em;
  }

  #titw,
  #es,
  #lab,
  #cd {
    padding: 8em;
  }

  #is,
  #fat,
  #rep,
  #hh,
  #cv,
  #hyb,
  #ce {
    padding: 8em;
  }

  #fat {
    padding-bottom: 13.1em;
  }

  #hh {
    padding-bottom: 24.5em;
  }

  #cv {
    padding-bottom: 11.91em;
  }

  #th {
    padding: 7em;
  }

  #ce {
    padding-bottom: 10.72em;
  }

  dl {
    padding-bottom: 5em;
  }

  dt {
    width: 48%;
  }

  dd {
    width: 52%;
  }

  .padding-top {
    padding: 1em 0 1em 0;
  }
}

/* END 1150 */

/* 1440 (17" MACBOOK) */
@media only screen and (min-width: 89.37em) {

  h1 {
    font-size: 2em;
  }

  dl {
    margin-bottom: -11.5%;
  }

  dt {
    width: 48%;
  }

  dd {
    width: 52%;
  }

  #wt,
  #char,
  #tot,
  #rwh {
    padding: 10em;
  }

  #titw,
  #es,
  #lab,
  #cd {
    padding: 10em;
  }

  #is,
  #fat,
  #rep,
  #hh,
  #hyb,
  #th,
  #ce {
    padding: 10em;
  }

  #fat {
    padding-bottom: 15.5em;
  }

  #hh {
    padding-bottom: 23.75em;
  }

  #cv {
    padding-bottom: 14.2em;
  }

  #ce {
    padding-bottom: 21.4em;
  }
}
/* END 1440 */

/* FULL SCREEN IMAC */
@media only screen and (min-width: 119em) {
  h2 {
    font-size: 1.5em;
    line-height: 0.2em;
  }

  #wt,
  #char,
  #tot,
  #rwh {
    padding: 12em;
  }

  #titw,
  #es,
  #lab,
  #cd {
    padding: 12em;
  }

  #is,
  #fat,
  #hh,
  #rep,
  #cv,
  #th,
  #ce {
    padding: 12em;
  }

  #fat {
    padding-bottom: 24.2em;
  }

  #char {
    padding-bottom: 21.8em;
  }

  #hh {
    padding-bottom: 23em;
  }

  #hyb {
    padding-bottom: 16em;
  }

  #ce {
    padding-bottom: 19.5em;
  }

  dl {
    padding-bottom: 10.2em;
  }

  dt {
    float: left;
    width: 30%;
  }

  dd {
    float: right;
    width: 63%;
  }
}
/* END FULL SCREEN IMAC */
