.nav {
  list-style-type: none;
}

.nav li {
  display: block;
  padding: 0.5em;
  text-transform: uppercase;
}

.nav-secondary {
  padding-left: 0;
  padding-bottom: 0.5em;
  text-align: center;
}

.nav-secondary li {
  display: inline-block;
  padding: 0.5em;
}

a {
  border-bottom: 0.1em solid #ccc;
  -o-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
  color: #222;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  border-color: #FFF;
  color: #000;
}

.sidebar {
  display: none;
}

.skiplinks {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 3000;


  font-size: 1.25rem;
  font-weight: bold;
  list-style-type: none;

}

.skiplinks a,
.skiplinks a:link,
.skiplinks a:visited {
  padding: 0.5em 0.75em;
  position:absolute;
  top: -10em;

  background-color: #000;

  color: #fff;
  text-decoration: none;
}

.skiplinks a:focus {
  top: 0;
}

a,
a:link,
a:visited {
  outline: none; /*removes the keyboard selection highlight  */
}

a:hover,
a:active {
  outline: none; /*removes the keyboard selection highlight  */

}

a:focus {
  outline: 2px solid #000;
}

/* 400 PX*/
@media only screen and (min-width: 25em) {
  .nav li {
    display: block;
    color: #FFF;
    font-size: 1.5em;
  }

  .nav-secondary li {
    display: inline-block;
    font-size: 0.7em;
  }
}
/* END 400*/

/* 600 PX*/
@media only screen and (min-width: 38em) {
  .nav li {
    display: inline-block;
    color: #FFF;
    font-size: 1em;
    padding: 0.9em;
  }

  .nav-secondary li {
    display: inline-block;
    font-size: 1em;
    padding: 0.9em;
  }
}
/* END 600*/

/* 700 PX*/
@media only screen and (min-width: 43.75em) {
  .nav-wrapper {
    float: right;
  }

  .nav li {
    font-size: 1.2em;
  }

  .nav-secondary li {
    padding: 0;
    padding-right: 1em;
    margin: 0;
  }
}
/*END 700*/

/* 1050 PX*/
@media only screen and (min-width: 65.62em) {
  .nav-secondary {
    text-align: right;
    padding: 0.5em;
    padding-right: 0em;
  }

  .sidebar {
    display: block;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    padding: 1em;
    margin-top: 5%;
  }

  .sidebar-ul {
    padding-left: 0;
    margin: 0;
  }

  .siderbarnav {
   padding: 0em;
  }

  .sidebarnav li {
    list-style-type: none;
    padding-bottom: 0.5em;
  }

  .sidebarnav a {
    text-decoration: none;
    color: #c9a879;
  }

  .sidebarnav a:hover,
  .sidebarnav a:focus,
  .sidebarnav a:active {
    color: #FFF;
  }
}
/* END 1050*/

/* 1150 PX*/
@media only screen and (min-width: 71.87em) {
  .nav-secondary {
    padding-right: 1em;
  }
}

/* END 1150 */

/* FULL SCREEN IMAC */
@media only screen and (min-width: 119em) {
  .nav-wrapper {
    float: right;
  }

  .nav {
    list-style-type: none;
  }

  .nav li {
    display: inline-block;
    padding: 1em;
    text-transform: uppercase;
  }

  .nav-secondary li {
    padding: 0;
    padding-left: 1.5em;
  }

  a {
    border-bottom: 0.1em solid #ccc;
    -o-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -webkit-transition: all 100ms linear;
    transition: all 100ms linear;
    color: #222;
    text-decoration: none;
  }

  a:hover,
  a:focus,
  a:active {
    border-color: #FFF;
    color: #000;
  }

  .sidebar {
    position: fixed;
    display: block;
    margin-top: 5%;
  }

  .sidebar-ul {
    padding-left: 0;
  }

  .sidebarnav li {
    list-style-type: none;
    padding-bottom: 0.5em;
  }

  .sidebarnav a {
    text-decoration: none;
  }

  a:hover,
  a:focus,
  a:active {
    border-color: #000;
    color: #000;
  }

}
/* END FULL SCREEN IMAC */
