<!DOCTYPE html>
<html lang=en-ca>
<head>
  <meta charset=utf-8>
  <title>{% if page.title %}{{page.title}}{%endif%}{% if page.title == null %}{% endif %}</title>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="css/general.css" rel="stylesheet">
  <link hred="css/grid.css" rel="stylesheet">
</head>
<body>

<header class="banner">
  <nav class="nav-wrapper">
    <ul class="nav nav-primary">
      <li><a href="{{site.baseurl}}/" class="nav-link nav-primary-link captain {% if page.url contains 'index' %}nav-selected{% endif %}">Tigers</a></li>
      <li><a href="{{site.baseurl}}/about-tigers/" class="nav-link nav-primary-link command {% if page.url contains 'about tigers' %}nav-selected{% endif %}">About Tigers</a></li>
      <li><a href="{{site.baseurl}}/species/" class="nav-link nav-primary-link sciences {% if page.url contains 'species' %}nav-selected{% endif %}">Species</a></li>
      <li><a href="{{site.baseurl}}/tigers-and-humans/" class="nav-link nav-primary-link operations {% if page.url contains 'tigers and humans' %}nav-selected{% endif %}">Tigers & Humans</a></li>
    </ul>
  </nav>
</header>

{{content}}

<footer class="footer">
  <p class="copyright">© 2013 Uniforms</p>

  <nav>
    <ul class="nav nav-secondary">
      <li><a href="{{site.baseurl}}/" class="nav-link">Tigers</a></li>
      <li><a href="{{site.baseurl}}/about-tigers/" class="nav-link">About Tigers</a></li>
      <li><a href="{{site.baseurl}}/species/" class="nav-link">Species</a></li>
      <li><a href="{{site.baseurl}}/tigers-and-humans/" class="nav-link">Tigers & Humans</a></li>
    </ul>
  </nav>
</footer>

</body>
</html>
