<!DOCTYPE html>
<html lang=en-ca>
<head>
  <meta charset=utf-8>
  <meta name="description" content="Here you will learn about Richard's history">
  <title>{% if page.title %}{{page.title}}{%endif%}{% if page.title == null %}{% endif %}</title>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/general.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
</head>
<body>

<header class="banner">
  <nav class="nav-wrapper">
    <ul class="nav">
      <li><a href="{{site.baseurl}}/">Tigers</a></li>
      <li><a href="{{site.baseurl}}/about-tigers/">About Tigers</a></li>
      <li><a href="{{site.baseurl}}/species/">Species</a></li>
      <li><a href="{{site.baseurl}}/tigers-and-humans/">Tigers & Humans</a></li>
    </ul>
  </nav>
</header>

{{content}}

<footer class="footer">
  <p class="copyright">© 2013 Tigers.</p>

  <nav>
    <ul class="nav nav-secondary">
      <li><a href="{{site.baseurl}}/">Tigers</a></li>
      <li><a href="{{site.baseurl}}/about-tigers/">About Tigers</a></li>
      <li><a href="{{site.baseurl}}/species/">Species</a></li>
      <li><a href="{{site.baseurl}}/tigers-and-humans/">Tigers & Humans</a></li>
    </ul>
  </nav>
</footer>

</body>
</html>
