<!DOCTYPE html>
<html lang=en-ca>
<head>
  <meta charset=utf-8>
  <meta name="description" content="Come follow the history of Richard Parker, a tiger.">
  <title>{% if page.title %}{{page.title}} · {%endif%}{% if page.title == null %}{% endif %}</title>
  <!-- Facebook -->
  <meta property="og:type" content="artilce">
  <meta property="og:title" content="Say hello to Richard Parker.">
  <meta property="og:url" content="http://emdsgn.github.io/large-data-website">
  <meta property="og:image" content="http://domain.com/img/thing.jpg">
  <!-- Image size: min. 200x200, prefered 1500x1500 -->
  <meta property="og:site_name" content="Tigers">
  <meta property="og:description" content="Come follow the history of Richard Parker, a tiger.">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary">
  <meta property="twitter:title" content="Say hello to Richard Parker.">
  <meta property="twitter:url" content="http://emdsgn.github.com/large-data-website">
  <meta property="twitter:image" content="http://domain.com/img/thing.jpg">
  <!-- Image size: min. 120x120 -->
  <meta property="twitter:description" content="Come follow the history of Richard Parker, a tiger.">

  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/tigers.css" rel="stylesheet">
</head>
<body id="top">

  <ul class="skiplinks">
    <li><a href="#main">Skip to primary content</a></li> <!--add id's to the content-->
    <li><a href="#complementary">Skip to secondary content</a></li>
    <li><a href="#navigation">Skip to navigation</a></li>
  </ul>

<header class="banner" role="banner" id="navigation">
{% include nav.html %}
</header>

{{content}}

<div class="grid">
<footer class="footer" role="contentinfo">
  <div class="unit unit-s-1 unit-m-1 unit-l-1-4">
    <p class="copyright">© 2013 Tigers.</p>
  </div>

  <div class="unit unit-s-1 unit-m-1 unit-l-3-4">
    <nav>
      <ul class="nav nav-secondary">
        <li><a href="{{site.baseurl}}/" rel="home">Tigers</a> </li>
        <li><a href="{{site.baseurl}}/about-tigers/">About  Tigers</a></li>
        <li><a href="{{site.baseurl}}/species/">Species</a></li>
        <li><a href="{{site.baseurl}}/tigers-and-humans/">  Tigers & Humans</a></li>
        <li><a href="#top">Top</a>
      </ul>
    </nav>
  </div>
</footer>
</div>

</body>
</html>

