<!DOCTYPE html>
<html lang=en-ca class="homebg">
<head>
  <meta charset=utf-8>
  <title>{% if page.title %}{{page.title}} · {%endif%}{% if page.title == null %}{% endif %}</title>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/general.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
</head>

<body>

{{content}}

</body>
</html>
